{% extends 'base.html' %}

{% block title %}개발툴 등록{% endblock %}

{% block content %}

    <h1>Devtool Add</h1>
    <form method = 'POST' class="add-form">
        {% csrf_token %}
        <p>이름: <input type = 'text' name = 'name' required></p>
        <p>종류: <input type = 'text' name = 'kind' required></p>
        <p>내용: <textarea name = 'content' required></textarea>
    
        <div class="form-buttons">
            <button type="submit">등록</button>
            <a href="{% url 'toolList' %}"><button type="button" class="btn-gray">취소</button></a>
        </div>
    </form>
{% endblock %}